.caixa_cadastro {
    background-color: #CCC;
    width: 400px;
    height: 430px;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa_formulario h1{
    font-size: 30px;
    
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.formulario input{
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(82, 143, 196);
    border-radius: 10px;
}

.formulario button{
    margin-top: 10px;
    background: rgb(255,55,78);
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 120px;
    align-self: center;
    font-weight: bold;
}
#aqui {
    font-weight: 1000;
    color: #32b9cd;
}